@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'roboto mono', monospace;
}
h1 {
  font-family: 'roboto mono', monospace;
  font-size: 40px;
  color: rgb(220,220,220);
}
a {
 color: rgb(220,220,220); 
}
#Footer {
    white-space: nowrap;
    text-align: center;
    clear: both; /*may be omitted*/
    position: absolute;
    bottom: 6px; 
    width: 100%;
    display: block;
}
 #link_Styles { 
  font-size: 14px;
  color: #a020f0;
  padding: 0px;
}
#link_Styles:hover {
  text-decoration: underline;
}
#label_Styles {
  color: #616C77;
}
.obscurity-purple {
  color: #a020f0;
}
.border-obscurity-purple {
  --tw-border-opacity: 1;
  color: #a020f0;
}

.container {
  min-height: inherit;
}

.container,
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 1rem;
  background-color: #1a1a1a;
  border-radius: 5px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
  width: 400px;
  max-width: 100%;
}

@media print, (min-width: 640px) {
  .content {
    padding: 2rem;
    border-radius: 8px;
  }
}
